In [2]:
from pathlib import Path

file_name = "../config.yaml"

str(Path(file_name).resolve())

'/home/gaurav/Documents/TitanicPred/config.yaml'

In [2]:
import pandas as pd

df = pd.read_csv(r"https://github.com/datasciencedojo/datasets/blob/master/titanic.csv?raw=true")

In [2]:
cat = df.select_dtypes(include=["object", "category", "bool"])

In [6]:
cat.isna().mean() * 100

Name         0.000000
Sex          0.000000
Ticket       0.000000
Cabin       77.104377
Embarked     0.224467
dtype: float64

In [3]:
num = df.select_dtypes(exclude=["object", "category", "bool"])
if (
    len(num.isna().mean()[num.isna().mean() > 0][num.isna().mean()[num.isna().mean() > 0] < 0.05])
    == 0
):
    print("There are no columns that have less than 5 % null values")
else:
    print("Okay")

There are no columns that have less than 5 % null values

In [31]:
col = num.isna().mean()[num.isna().mean() > 0].index.tolist()

In [32]:
skew = {}
for _ in col:
    skew[_] = df[_].skew()

In [33]:
skew

{'Age': np.float64(0.38910778230082704)}

In [35]:
idx = num.columns

In [36]:
from scipy.stats import shapiro


stat, p = shapiro(df[idx].dropna())
if p > 0.05:
    print(f"Column '{idx}' follows a normal distribution (p={p:.4f})")
else:
    print(f"Column '{idx}' is NOT normally distributed (p={p:.4f})")

Column 'Index(['PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare'], dtype='object')' is NOT normally distributed (p=0.0000)

In [1]:
# for column in num:
#     # Drop missing values
#     data = num[column].dropna()
#     if len(data) >= 3:  # Shapiro-Wilk test requires at least 3 data points
#         stat, p_value = shapiro(data)
#         print(f"Column '{column}': W-statistic={stat:.4f}, p-value={p_value:.4f}")
#         if p_value > 0.05:
#             print(f"  {column} appears to be normally distributed.\n")
#         else:
#             print(f"  {column} does not appear to be normally distributed.\n")
#     else:
#         print(f"Column '{column}' does not have enough data points for the Shapiro-Wilk test.\n")

In [16]:
null_col = df.columns[df.isnull().mean() > 0]

In [58]:
num = df[null_col].select_dtypes(exclude=["object", "category", "bool"]).columns
cat = df[null_col].select_dtypes(include=["object", "category", "bool"])

In [57]:
df[cat].isna().mean()[df[cat].isna().mean() < 0.05].index.values.tolist()

['Embarked']

In [59]:
(cat.isna().mean()[cat.isna().mean() < 0.05])

Embarked    0.002245
dtype: float64

In [29]:
cat.isna().mean()[cat.isna().mean() > 0][cat.isna().mean()[cat.isna().mean() > 0] < 0.05]

array([], dtype=float64)

In [ ]:
len(cat.isna().mean()[cat.isna().mean() > 0][cat.isna().mean()[cat.isna().mean() > 0] < 0.05]

1

In [5]:
from scipy.stats import shapiro

num = num.dropna()
print(f"Checking for Normality using Shapiro-Wilk Test")
normal_col = []
not_normal_col = []
for column in num:
    data = num[column]
    if len(data) >= 3:
        stat, p_value = shapiro(data)
        if p_value > 0.05:
            print(f"  {column} appears to be normally distributed.\n")
            normal_col.append(column)
        else:
            print(f"  {column} does not appear to be normally distributed.\n")
            not_normal_col.append(column)
    else:
        raise ValueError(
            f"Column '{column}' does not have enough data points for the Shapiro-Wilk test.\n"
        )
if len(not_normal_col) < num.shape[1]:
    print(f"Non Normally Distributed Columns are {not_normal_col}")
    print(f"Normally Distributed Columns are {normal_col}")

Checking for Normality using Shapiro-Wilk Test
  PassengerId does not appear to be normally distributed.

  Survived does not appear to be normally distributed.

  Pclass does not appear to be normally distributed.

  Age does not appear to be normally distributed.

  SibSp does not appear to be normally distributed.

  Parch does not appear to be normally distributed.

  Fare does not appear to be normally distributed.

In [3]:
from sklearn.model_selection import train_test_split

X = df.drop(columns="Survived", axis=1)
y = df["Survived"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [10]:
pd.concat((X_train, y_train), axis=1)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
6,7,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,0
718,719,3,"McEvoy, Mr. Michael",male,NaN,0,0,36568,15.5000,NaN,Q,0
685,686,2,"Laroche, Mr. Joseph Philippe Lemercier",male,25.0,1,2,SC/Paris 2123,41.5792,NaN,C,0
73,74,3,"Chronopoulos, Mr. Apostolos",male,26.0,1,0,2680,14.4542,NaN,C,0
882,883,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...,...
106,107,3,"Salkjelsvik, Miss. Anna Kristine",female,21.0,0,0,343120,7.6500,NaN,S,1
270,271,1,"Cairns, Mr. Alexander",male,NaN,0,0,113798,31.0000,NaN,S,0
860,861,3,"Hansen, Mr. Claus Peter",male,41.0,2,0,350026,14.1083,NaN,S,0
435,436,1,"Carter, Miss. Lucile Polk",female,14.0,1,2,113760,120.0000,B96 B98,S,1
102,103,1,"White, Mr. Richard Frasar",male,21.0,0,1,35281,77.2875,D26,S,0